body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo {
  font-weight: bold;
  color: #1f8a70;
  font-size: 18px;
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: #333;
  padding: 6px 12px;
  border-radius: 20px;
}

.links a.active {
  background: #dff5ed;
  color: #1f8a70;
}

.container {
  max-width: 500px;
  margin: 80px auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  text-align: center;
}


h2 {
  text-align: center;
  margin-bottom: 30px;
}

button {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #1f8a70, #176e57);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}